@import "../../styles/typeColors.module.scss";

.pokedex_home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.loadingSpinner {
  margin-top: 500px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .pokemonCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 80px);
    padding: 40px;

    .Link {
      width: fit-content;
    }

    .wrapperID {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .arrowIcon {
        color: whitesmoke;
        font-size: 25px;

        transition: 0.7s;

        &:hover {
          cursor: pointer;
          color: rgb(230, 223, 24);
          transform: scale(1.5);
        }
      }
      .pokemonId {
        color: whitesmoke;
        margin: 0;

        background-color: #e0e0e55a;
        padding: 10px;
        border-radius: 12px;
      }
    }
    .pokemonName {
      display: flex;
      flex-direction: column;
      gap: 7px;
      color: whitesmoke;

      h1 {
        margin: 0;
      }
      .biometry {
        display: flex;
        gap: 15px;
        margin-bottom: 20px;
        margin-left: 3px;
        color: whitesmoke;

        p {
          margin: 0;
        }
      }
    }

    .typesContainer {
      display: flex;
      font-size: 20px;
      font-weight: bold;
      gap: 20px;

      .typeContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin: 0;
        padding: 5px 8px;
        border-radius: 15px;
        color: whitesmoke;
        text-transform: capitalize;
        background-color: #df7d7d;

        @each $type, $color in $typesColors {
          &[data-type="#{$type}"] {
            background-color: $color;
            box-shadow: 0 0 6px lighten($color, 20%);
          }
        }
      }
    }
    .image {
      height: 200px;
      max-width: 80%;
      margin: 0 auto;
    }

    .stats {
      width: 100%;
      color: white;

      .stat {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid whitesmoke;
        gap: 10px;

        .statName {
          letter-spacing: 1px;
        }
        .progress_stat {
          display: flex;
          align-items: center;
          gap: 20px;
        }
      }
    }
  }

  .button {
    font-weight: bold;
    color: #576ee4;
    background-color: #fade07a7;
    border-radius: 15px;
    border: 0;
    padding: 6px 9px;
    transition: 1.5s;

    &:hover {
      cursor: pointer;
      box-shadow: 5px 5px 0px #576ee4;
      transform: scale(1.2);
    }
  }

  .notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pokemonCard {
    margin-top: 180px;
    background-color: #6c6c6c;
    border-radius: 30px;
    box-shadow: 0 0 10px #0f0f0f;
    max-height: 800px;
    max-width: 400px;
    padding: 20px;
  }
}
