$typesColors: (
  normal: #b3b5b2,
  fighting: #d6724d,
  flying: #9ba2ff,
  poison: #a35597,
  ground: #dbbf6e,
  rock: #a38c21,
  bug: #a0b92f,
  ghost: #6666b5,
  steel: #a1a1b5,
  fire: #f08d56,
  water: #6890f0,
  grass: #83e93f,
  electric: #f3d23b,
  psychic: #f95587,
  ice: #98d8d8,
  dragon: #7038f8,
  dark: #705746,
  fairy: #ef97e6,
);
